@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// COLORS  
$ivory: #e3e2e6;
$red: #eb1a50;
$black: #2b2b2f;
$white: #fff;
.h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}
.h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
}
.h3 {
  font-size: 1rem;
  font-weight: 700;
}
p {
  font: 700 1rem/1.5;
  font-weight: 400;
}
.page-title {
  text-align: center;
  margin-top: 80px;
}
.App {
  text-align: center;
  overflow-x: hidden;
  position: relative;

}

.App-header {
  min-height: 470px;
  width: 100%;
  background-image: url('./images/background.jpg');
  background-position: center;
  background-size: cover;
  color: $white;
}
.container-fluid {
  max-width: 1200px;
}
.header-nav {
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.toggle {
  z-index: 999;
  position: relative;
}
.mobile-menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background: $black;
  color: $white;
  z-index: 20;
  transition: right .3s;
  &.open {
    right: -100%;
  }
  .fa-times {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
  }
  ul {
    padding-left: 0;
    margin-top: 150px;
  }
  li {
    list-style: none;
  }
  a {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.5;
    color: $white;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $white;
      transform: scaleX(0);
      transition: all 0.1s ease-in-out 0s;
    }
    &:hover {
      text-decoration: none;
      &:before {
        transform: scaleX(1);
      }
    }
  }

}
.main-menu {
  display: none;
  color: white;
  margin-bottom: 0;
  padding-left: 0;
  li {
    list-style: none;
    margin-left: 50px;
  }
  a {
    color: $white;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $white;
      transform: scaleX(0);
      transition: all 0.1s ease-in-out 0s;
    }
    &:hover {
      text-decoration: none;
      &:before {
        transform: scaleX(1);
      }
    }
  }

}
.filters {
  padding-left: 0;
  text-align: left;
  li {
    list-style: none;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: transparent;
    line-height: 2;
    text-indent: 5px;
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
      background-color: $white;
    }
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $black;
  background-color: $ivory;
  a {
    font-family: 'Open Sans', sans-serif;
  }
}

.main {
  padding-top: 30px;
  padding-bottom: 30px;

}

.product-card {
  border-radius: 5px;
  background-color: $white;
  padding: 15px;
  margin-bottom: 30px;
  img {
    max-width: 100%;
    margin: 0 auto 15px;
  }
  .button {
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid $red;
    color: $white;
    background-color: $red;
    transition: all .3s;
    display: block;
    margin-bottom: 0;
    padding: 5px 0;
    &:hover {
      color: $red;
      background-color: $white;
      text-decoration: none;
    }

  }
}
.text-area {
  height: 190px;
  overflow: auto;
}

@media (min-width: 640px) {
  .mobile-menu {
    display: none;
  }
  .main-menu {
    display: flex;
  }
  .fa-bars {
    display: none;
  }

}






